@charset "utf-8";

// Variables
:root {
    // Colours
    --primary: hsl(300, 43%, 22%);
    --secondary: hsl(333, 80%, 67%);
    --neutral-primary: hsl(303, 10%, 53%);
    --neutral-secondary: hsl(300, 24%, 96%);
    --neutral-tertiary: hsl(0, 0%, 100%); // i.e. white

    // Font
    --font: "League Spartan", "Century Gothic", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    --font-medium: "League Spartan Medium", "Century Gothic", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    // Text sizes
    --normal-text: 1.5rem;
    --title-text: 3.2rem;

    // Rounded corners
    --rounded-corners: 0.8rem;
    --rounded-photo: 50%;

    // Sizes
    --container-max-width: 111rem;

    // Margins and gutters
    --insert-margin: 1.6rem;
    --horizontal-gutter: 1.6rem;
    --vertical-gutter: 3rem;
}