@charset "utf-8";

/** @section Font-face */

@font-face {
    font-family: "League Spartan";
    src: url("fonts/LeagueSpartan-Regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "League Spartan";
    src: url("fonts/LeagueSpartan-Bold.woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "League Spartan Medium";
    src: url("fonts/LeagueSpartan-Medium.woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}