@charset "utf-8";
@use "sass:math";

// Functions

/// Function resolution calculation
///
/// @param {Number} $resolution-dppx [1] - Resolution to calculate in dots per pixel (dppx)
/// @param {Boolean} $dpi [false] - Conversion to dots per inch (dpi) ou non
/// @returns {Number} Value with unit
@function css-resolution ($resolution-dppx: 1, $dpi: false) {
    $value: $resolution-dppx;

    // If the $dpi parameter is informed and is evaluated to true, multiplication of the value by 96, in readiness for the conversion to dots per pixel
    @if $dpi == true {
        $value: calc($value * 96dpi);
    }
    @else {
        $value: calc($value * 1dppx);
    }

    @return $value;
}

/// Function conversion from pixels to em
///
/// @param {Number} $px - The value to convert (it can be in pixels or unitless)
/// @returns {Number} The value converted into em
@function px2em ($px) {
    // If $px is unitless, it is assumed to be in pixels, so there is an attempt to convert it into pixels
    @if math.is-unitless($px) {
        @return px2em($px * 1px);
    }

    // If $px is compatible with em units, return the value unchanged
    @if math.compatible($px, 1em) {
        @return $px;
    }

    @return math.div($px, 16px) * 1em;
}